html {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 20px;
  line-height: 1.4;
}

@media (max-width: 800px) {
  html {
    font-size: 14px;
  }
}

body {
  background: #f6f6f6;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  min-width: 100%;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
}

header {
  max-width: 100%;
  height: 100px;
  padding-left: 5%;
  padding-right: 5%;
  background: white;
}

@media (max-width: 650px) {
  header {
    height: auto;
  }
}

header .logo img {
  border-radius: 5px;
  max-width: 60px;
  margin: 0;
  height: auto;
}

@media (max-width: 650px) {
  header .logo img {
    max-width: 30px;
  }
}

.nav-bar li {
  list-style-type: none;
  display: inline;
  margin-left: 1em;
}

.nav-bar li a {
  text-decoration: none;
  color: #806bfa;
  font-size: 1.2rem;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
  cursor: prointer;
}

.nav-bar li a:hover {
  color: #00005e;
}

.space-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 1rem;
  max-width: 100%;
  min-height: 250px;
}

.space-block p {
  color: #a8a8a8;
}

main {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 1rem;
  max-width: 100%;
  min-height: 500px;
}

main p {
  color: #a8a8a8;
}

main .works-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 5px;
}

main .works-list img {
  border: 2px solid black;
  border-radius: 15px;
  min-height: 170px;
}

main .works-list a {
  text-decoration: none;
  color: #a8a8a8;
  font-size: 0.8rem;
}

main .works-list a:active {
  text-decoration: none;
  color: #a8a8a8;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #000;
  color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 12px;
  max-width: 100%;
  height: 240px;
  padding-right: 5%;
  padding-left: 5%;
}

footer span {
  padding-bottom: 20px;
}

footer .foot-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer ul {
  padding-left: 10%;
  margin-top: 0;
}

footer ul li {
  list-style-type: none;
  margin-bottom: 5px;
}

footer ul:nth-child(1) {
  padding-left: 0;
}

@media screen and (max-width: 1030px) {
  footer {
    font-size: 14px;
    height: 184px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 40px;
    padding-bottom: 40px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 10%;
  }
}
