html {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 20px;
    line-height: 1.4;
    overflow-x: hidden;
    @media (max-width: 800px) {
        font-size: 14px;
    }
}

body{
    background: #f6f6f6;
    overflow-y: auto;
    padding: 0;
    margin: 0;
    min-width: 100%;   
}

$grayColor: rgb(168, 168, 168);

//For index.html
//header
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 100%;
}

header {
    max-width: 100%;
    height: 100px;
    padding-left: 5%;
    padding-right: 5%;
    background: white;
    @media (max-width: 650px) {
        height: auto;
    }
    .logo {
        img {
            border-radius: 5px;
            max-width: 60px;
            margin: 0;
            height: auto;
               @media (max-width: 650px) {
                max-width: 30px;
            }
        }
    }
}

.nav-bar {
    li {
        list-style-type: none;
        display: inline;
        margin-left: 1em;
        a {
            text-decoration: none;
            color: rgb(128, 107, 250);
            font-size: 1.2rem;
            transition: all 1s ease-out;
            cursor: prointer;
            &:hover {
                color: rgb(0, 0, 94);
            }
        }
    }
}

.active {
    :nth-child(1){
        color: #0d1872;
    }
}

.space-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1rem;
    max-width: 100%;
    min-height: 250px;
    p {
        color: $grayColor;
    }
}

//main
main {
    padding-left: 5%;
    padding-right: 5%;
    align-items: center;
    font-size: 1rem;
    max-width: 100%;
    min-height: 500px;
    text-align: center;
    p {
        color: $grayColor;
    }
    .works-list {
        display: flex;
        flex-wrap: wrap;
        figure {
            display: inline-block;
            flex: 1 1 auto;
        }
        img {
            border: 2px solid black;
            border-radius: 15px;
            min-height: 170px;
        }
        a {
            text-decoration: none;
            color: $grayColor;
            font-size: 0.8rem;
            &:active {
                text-decoration: none;
                color: $grayColor;
            }
        }
    }
}

//footer
footer {
    display: flex;
    flex-direction: row;
    background-color: #000;
    color: #fff;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 20px;
    max-width: 100%;
    min-height: 100%;
    padding-right: 5%;
    padding-left: 5%;
    span{
        padding-bottom: 20px;
    }
    .foot-list {
        display: flex;
    }
    ul{
        padding-left: 10%;
        margin-top: 0;
        li {
            list-style-type: none;
            margin-bottom: 5px;
        }
        &:nth-child(1){
            padding-left: 0;
        }
    }
    @media screen and( max-width: 1030px) {
        font-size: 14px;
        height: 184px;
        flex-direction: column;
        padding-top: 40px;
        padding-bottom: 40px;
        align-items: flex-start;
        padding-left: 10%;
    }
}

//For contacts.html

.contact {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 80px;
    padding-bottom: 80px;
    ul{
        padding: 0;
        li{
            list-style-type: none;
            margin-bottom: 12px;
                span{
                    color: rgb(139, 139, 139);
                }
                .contact-name{
                    font-weight: bold;
                    color: black;
                }  
        }
    }
    @media screen and( max-width: 1300px) {
       max-width: 100%;
    }
}

form {
    height: 400px;
    width: 100%;
    div {
        display: flex;
        input {
            height: 50px;
            border: none;
            padding-left: 20px;
            margin-bottom: 20px;
            font-size: .9rem;
        }
        textarea {
            width: 100%;
            border: none;
            padding-left: 20px;
            padding-top: 20px;
            resize: none;
            font-size: .9rem;
        }
        :nth-child(1){
            width: 50%;
        }
        :nth-child(2){
            width: 100%;
        }
    }
    button {
        background: rgb(40, 54, 255);
        height: 50px;
        color: white;
        border: none;
        max-width: 200px;
        padding-left: 20px;
        padding-right: 20px;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        cursor: pointer;
        transition: all 1s ease-out;
        &:hover {
            box-shadow: 0 0 8px rgb(40, 54, 255);
        }
    }
    @media screen and( max-width: 1300px) {
        width: 100%;
    }
    @media screen and( max-width: 1300px) {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.map {
    margin: 0 auto;
    height: 450px;
    width: 100%;
    padding: 25px;
    @media screen and( max-width: 1300px) {
        height: 300px;
        margin-bottom: 60px;
    } 
}

// For About
.about-space{
    height: 300px;
    background: #fffb00;
    color: #000;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
        span{
            &:nth-child(2){
                margin-bottom: 25px;
            }
        }
}

.about-me {
    height: 500px;
    display: flex;
    max-width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    .me {
        height: 100%;
        display: flex;
        width: 50%;
        justify-content: center;
        align-items: center;
        @media screen and( max-width: 1030px) {
            width: 100%;
            height: 50%;
        }
    }
    .something{
        background-image: url('../images/rollers.jpg');
        background-size: cover;
    }
    
    .my-info{
        background: white;
    }

    @media screen and( max-width: 1030px) {
        flex-direction: column;
    }
}

.new-project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    max-width: 100%;
    background: rgb(202, 202, 202);
    span {
        text-align: center;
    }
    button{
        margin-top: 30px;
        background:#fffb00;
        height: 50px;
        border: none;
        max-width: 200px;
        padding-left: 20px;
        padding-right: 20px;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        cursor: pointer;
        transition: all .3s ease 0s;
            &:hover{
                box-shadow: 0 0 8px #21bfb9;
            }
            &:active{
                border: none;
            }
    }
}