<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <header>
        <div class="row">
            <div class="logo">
                <img src="../images/logo.jpg" alt="Your company">
            </div>
            <nav class="nav-bar">
                <ul>
                    <li class=""><a href="index.html">Home</a></li>
                    <li class="active"><a href="about.html">About me</a></li>
                    <li class=""><a href="contacts.html">Contacts</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="about-space">
        <span>
            <h1>Amelia Woods</h1>
        </span>
        <span>Anim pariatur do labore labore consequat consequat sint proident. Proident in amet consectetur sunt
            pariatur veniam aliquip qui laborum qui ad labore dolor eiusmod. Est incididunt amet ea mollit occaecat
            deserunt commodo dolore sunt sit aliquip cupidatat. Ea qui Lorem quis reprehenderit nulla id et nostrud elit
            laborum est commodo aliqua anim.</span>
    </div>
    <div class="about-me">
        <div class="something me"></div>
        <div class="my-info me">
            This is my first normally landing, but I can demostrate it</div>
    </div>
    <div class="new-project">
        <span>
            <h1>You want a project?</h1>
        </span>
        <span>Discuss your project with my manager and let's get started!<br>We can make a cool website for
            you!</span>
        <button onclick="window.location.href = 'https://t.me/justSeme';">Let's talk</button>
    </div>
    <footer>
        <div class=>
            <span>Original Design, Inc.</span> <br>
            <span>© 2017 Original. All rights reserved.<br> Designed by Kendrick Lamar.</span>
        </div>
        <span>hello@pirolltheme.com<br> +44 987 065 908</span>
        <div>
            <div>
                <div class="foot-list">
                    <ul>
                        <li>Projects</li>
                        <li>About</li>
                        <li>Services</li>
                        <li>Carreer</li>
                    </ul>
                    <ul>
                        <li>News</li>
                        <li>Events</li>
                        <li>Contact</li>
                        <li>Legals</li>
                    </ul>
                    <ul>
                        <li>Facebook</li>
                        <li>Twitter</li>
                        <li>Instagram</li>
                        <li>Dribbble</li>
                    </ul>
                </div>
            </div>
    </footer>
</body>

</html>