<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../css/style.css">
    </link>
    <title>Contacts</title>
</head>

<body>
    <header>
        <div class="row">
            <div class="logo">
                <img src="../images/logo.jpg" alt="Your company">
            </div>
            <nav class="nav-bar">
                <ul>
                    <li class=""><a href="../index.html">Home</a></li>
                    <li class=""><a href="about.html">About</a></li>
                    <li class="active"><a href="contacts.html">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <section class="contact">
            <div class="contact-info">
                <h2>Contact info:</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.</p>
                <ul>
                    <li><span class="contact-name">Address:</span> <span>Bolshaya Lubyanka Street, 1, Moscow,
                            Russia</span></li>
                    <li><span class="contact-name">Phone:</span> <span>+44 987 065 908</span></li>
                    <li><span class="contact-name">Email:</span> <span>info@Example.com</span></li>
                    <li><span class="contact-name">Fax:</span> <span>+44 987 065 909</span></li>
                </ul>
            </div>
            <form action="#">
                <div><input type="text" placeholder="Your name" required>
                    <input type="email" placeholder="Your email" required></div>
                <div>
                    <input type="text" placeholder="Title">
                </div>
                <div> <textarea name="" id="" cols="30" rows="7" placeholder="Your Comment" required></textarea></div>
                <button type="submit">send message</button>
            </form>
        </section>
    </main>
    <div class="map">
        <script type="text/javascript" charset="utf-8" async
            src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A714abf7e036429026b27aabe329a2d88a295710b5d72fd5ba8145b1e60d13b9a&amp;width=695&amp;height=366&amp;lang=ru_RU&amp;scroll=true">
        </script>
    </div>

    <footer>
        <div class=>
            <span>Original Design, Inc.</span> <br>
            <span>© 2017 Original. All rights reserved.<br> Designed by Kendrick Lamar.</span>
        </div>
        <span>hello@pirolltheme.com<br> +44 987 065 908</span>
        <div>
            <div>
                <div class="foot-list">
                    <ul>
                        <li>Projects</li>
                        <li>About</li>
                        <li>Services</li>
                        <li>Carreer</li>
                    </ul>
                    <ul>
                        <li>News</li>
                        <li>Events</li>
                        <li>Contact</li>
                        <li>Legals</li>
                    </ul>
                    <ul>
                        <li>Facebook</li>
                        <li>Twitter</li>
                        <li>Instagram</li>
                        <li>Dribbble</li>
                    </ul>
                </div>
            </div>
    </footer>
</body>

</html>